@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Lexend+Deca:wght@200;300;400;500&family=Outfit:wght@200;400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Roboto:wght@100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
 
  font-weight: 400;
  color-scheme: light dark;
  background: rgb(53,109,198);
  background: linear-gradient(90deg, rgba(53,109,198,1) 0%, rgba(12,29,55,1) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

